<h3>Login</h3>

<form action="/admin" method="POST">
   <label for="username"><bold>Username</bold></label>
   <input type="text" placholder="Enter Username" name="username">

   <label for="password"><bold>Password</bold></label>
   <input type="password" placholder="Enter Password" name="password">
   
   <input type="submit" value="login" class="btn">
</form>