<footer class="footer">
    <div class="footerlink"><img src="img/github.png" alt="github logo" height="20px"><a href="https://github.com/FrozenBerrys" target="_blank" rel="noopener noreferrer">FrozenBerrys</a></div>
    <div class="footerlink"><img src="img/gmail.png" alt="gmail logo" height="20px">bokosandesu@gmail.com</div>
    <div class="footerlink"><img src="img/discord.png" alt="discord logo" height="20px">chickenpassant</div>
  </footer>