<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">about</a>
            </li>
            <li>
                <a href="/blag" class="">blag</a>
            </li>
            <li>
                <a href="/projects" class="">projects</a>
            </li>
            <li>
                <a href="/comics" class="">comics</a>
            </li>
            <li>
                <a href="/faq" class="">faq</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
    </div>
</header>