<div class="author">
    <h1 class="author__heading">The blag</h1>
    <p class="author__body">xkcd, a series of comics created by Randall Monroe is one of the reasons I love science and life in general. Randall Munroe posts on his own <a href="https://blog.xkcd.com/" target="_blank" rel="noopener noreferrer">blag</a> sometimes, uploads new xkcds triweekly, and coined blag: It's very appropriate to credit him in this entire description. Check him out!</p>
</div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <!-- loops through "data" -->
        <% data.forEach(blog => { %> 
            <li>
                <a href="/blog/<%= blog._id %>"> 
                    <span><%= blog.title %></span>
                    <span class="article-list__date"><%= blog.createdAt.toDateString() %></span>
                </a> 
            </li>
        <% }) %>


    </ul>

</section>