<div class="author">
    <h1 class="author__heading">Hello World!<br> -FrozenBerrys</h1>
    <p class="author__body">This website was created as a means to motivate me to increase my webdev repertoire. Have fun snooping around and feel free to email me if you have any questions.</p>
</div>

<div class="author">
    <h1 class="author__heading">About me</h1>
    <p class="author__body">I'm currently a highschool senior living in the capital of Mongolia. In my free time I like to read sci-fi, play the piano, go on walks, and think about my life. I'll post bits and pieces on my <a href="https://xkcd.com/148/" target="_blank" rel="noopener noreferrer">blag</a>, where you can find typical blag stuff. This wobsite was actually created so I can push myself to live a little more (and of course, post it on the internet).

    </p>
</div>
