<div class="author">
    <h1 class="author__heading">Projects</h1>
    <p class="author__body">If you think about it, life is just a series of projects. We can then assume the quality of one's life by the quality of their projects: specializing in a hobby, cultivating relationships, having kids etc... For legal reasons I won't be documenting personal psychoanalyses on my friends, and for financial reasons I won't be reproducing (jk). Point is: hopefully I do alot of cool things that I can add here.</p>
</div>