@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black: #000000;
    --brown: #2c1702;
    --red: #e20000;
    --lime: #00df13;
    --white: #ffffff;
    --purple: rgb(83, 0, 142);

    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); 
    --border-radius: 10px;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: monospace;
    font-size: var(--font-size-base);
    color: var(--black);
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    outline:none;
    -webkit-text-fill-color: var(--lime);
    border-radius: var(--border-radius);
    caret-color: var(--lime);
}

body {
    font-family: monospace;
    color: var(--lime);
    font-size: var(--font-size-base);
    background-color: var(--brown);
    margin: 0;
}

.btn {
  background-color: var(--lime);
  border: none;
  color: white; 
  padding: 16px 16px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: var(--border-radius);
}

/* Layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
  }

.main {
    padding: 20px 0;
  }

/* Main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
    padding-top: 0px;
  }

  @media only screen and (min-width: 768px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: 
      "logo menu button";
    }
  }

.header__nav {
    justify-content: center;
    display: flex;
    grid-area: menu;
  }
  
.header__nav, .header__button {
    width: 100%;
  }

.header__button {
    display: flex;
    justify-content: end;
    grid-area: button;
  }

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
  }

  .header__button button:hover {
    border: 2px solid var(--white);
  }

  /* Header -> Navigation */
  .header__nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
  }

  .header__nav ul a {
    padding: 10px;
    text-decoration: none;
    color: var(--lime); 
  }

  .header__nav ul a:hover {
    color: var(--white);
  }

  .header__nav ul a:active {
    color: var(--white);
  }
  
/* SearchBar */
.searchBar {
  visibility: hidden;
  transform: translateY(-100px); 
  position: absolute;
  right: 210px;
}

.searchBar.open {
  transform: translateY(0);
  transition: transform 0.1s;
}

.search__body {
  margin-top:5px;
}

.searchBar input {

  margin: 0;
  border: 0;
}

/* #searchClose {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--gray-light);
  padding: 15px;
} */

/* Dashboard Admin */
.admin-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-posts {
  padding: 0;
  margin: 0;
}

.admin-post-controls form {
  display: inline-block;
}

.admin-title .btn-delete.btn {
  background-color: var(--red);
}

.admin-post-controls .btn-delete.btn {
  background-color: var(--red);
}

.admin-post-controls .btn  {
  display: inline-block;
  background-color: var(--lime);
  color: var(--white);
  border: 0;
  text-decoration: none;
  font-size: .8rem;
  padding: 4px 8px;
  line-height: 2;
}

.admin-posts li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footerlink {
  color:white;
}

.footerlink a {
  text-decoration: none;
  color:#ffffff
}

.footerlink a:hover {
  color:var(--red);
}


/* Home Article List */
.articles__heading {
  margin-top: 4rem;
  font-weight: 400;
}



.article-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  display: flex;
  flex-direction: column;
}

.article-list__date {
  font-size: 1rem;
  color: var(--white);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.article-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  margin: 18px 0;
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--white);
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
  font-size: 24px;
  cursor: pointer;
  transition: filter 0.1s;

}

/* .article-ul li:not(:last-child) {
  border-bottom: 1px solid var(--red);
} */

.article-ul li:hover {
    border:white, solid, 2px;
    border-radius: var(--border-radius);
}

.article {
  white-space: pre-wrap;
  color: var(--white);
}

.faq__list {
  list-style-type: none;
}

.faq__title {
  color:var(--white);
}

p {
  color:var(--white);
}

a {
  color:var(--lime);
  text-decoration: none;
}

